<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head')%>
  </head>
  <body>
    <%- include('components/nav') %>
    <section class="sekcija">
      <div class="bgc"></div>
      <%- include('components/upload') %>
    </section>
    <footer class="ffamily" style="text-align: center">
      No Copyrights. Feel free to use my code. Written by Me - The Mighty Tomas!
      2022.5.24
    </footer>
  </body>
</html>
