<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head')%>
  </head>
  <body>
    <%- include('components/nav')%>
    <section class="sekcija">
      <div class="bgc"></div>
      <%- include('components/login') %>
    </section>
  </body>
</html>
