<nav>
  <a href="/"> <img src="img/clipart2551791.png" alt="logo" /></a>
  <div>
    <a href="/register"><button class="ffamily">Register</button></a>
    <a href="/login"><button class="ffamily">login</button></a>
  </div>
</nav>
